.upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.upload-holder {
  width: 30vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 24px;
  height: 50vh;
  text-align: center;
}
.upload-holder__section1{
  margin-bottom: 24px;
}
.upload-holder__section2 ul{
text-align: left;
}